@section Styles {
	<link rel="stylesheet" type="text/css" href="~/css/views/search-view.css"/>
	<link rel="stylesheet" type="text/css" href="~/css/spinner.css" />
}
@section Scripts
{
	<script type="module" src="~/js/quizSearch.js"></script>
}
<h1 class="search-result-text">Wyniki wyszukiwania</h1>
<div class="quiz-tiles-container"></div>
<div class = "spinner-search-container">
	<div class="spinner-search" />
</div>



