@section Styles {
	<link rel="stylesheet" type="text/css" href="~/css//views/solve-quiz-view.css" />
	<link rel="stylesheet" type="text/css" href="~/css/spinner.css"/>
}
@section Scripts
{
	<script type="module" src="~/js/quizSolver.js"></script>
}
<div class= "page-header hidden-element">
	<div class="header-left-section">
		<div class= "icon-container">
			<img src="~/img/icons/exam.png" class="page-icon"/>
		</div>
		<div class= "info-container">
			<div class= "name-container"></div>
			<div class= "number-questions-container"></div>
		</div>
	</div>
	<div class = "header-right-section">
		<img src="~/img/icons/timer.png" class="timer-icon" />
		<div class= "time-container"></div>
	</div>
</div>
<div class="main-container">
</div>
<div class="page-footer hidden-element">
	<div class="submit-button-container">
		<button class="submit-button">Zatwierdź</button>
	</div>
</div>