@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
    font-family: 'PalanquinDark-Bold';
    src: url("../fonts/PalanquinDark-Bold.ttf");
}
@font-face {
    font-family: 'RedHatDisplay-Black';
    src: url("../fonts/RedHatDisplay-Black.ttf");
}
@font-face {
    font-family: 'Poppins-Light';
    src: url("../fonts/Poppins-Light.ttf");
}

