@section Styles {
	<link rel="stylesheet" href = "~/css/views/user-profile.css" />
	<link rel="stylesheet" type="text/css" href="~/css/views/search-view.css" />
	<link rel="stylesheet" type="text/css" href="~/css/spinner.css" />
}
@section Scripts {
	<script src = "~/js/userProfile.js" type = "module"></script>
}
<div>
	<h1 class="user-profile-title">Twój profil</h1>
</div>
<div class= "user-profile-container">

</div>

